* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
ul {
  list-style: none;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
}
header {
  background-color: rgb(33, 129, 232);
}
header .header-p {
  padding: 20px;
}
header .header-p .header-top {
  display: flex;
}
header .header-top .logo {
  flex: 1;
  padding: 20px;
}
header .header-top .nav {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top .nav ul {
  display: flex;
}
header .header-top .nav ul li {
  padding: 20px;
}
header .header-top .theme {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}
header .header-top .theme .theme-moon span {
  font-size: 25px;
}
header .header-top .theme .toggle-btn {
  display: none;
}
header .header-top .theme .toggle-btn button {
  height: 35px;
  width: 35px;
  background: transparent;
  border-radius: 7px;
}

@media (max-width: 576px) {
  header .header-top .theme .toggle-btn {
    display: block;
    position: relative;
  }
  header .header-top .nav {
    display: none;
  }
  header .header-top .menu-list {
    position: absolute;
    top: 80px;
    right: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0.887);
    height: auto;
    width: 30%;
    text-align: center;
    border-radius: 10px;
  }
  header .header-top .menu-list ul {
    flex-direction: column;
  }
  header .header-top .menu-list ul li {
    padding: 10px;
  }
  header .header-top .menu-list a {
    color: white;
  }
}
@media (min-width: 576px) {
  header .header-top .theme .toggle-btn {
    display: block;
    position: relative;
  }
  header .header-top .nav {
    display: none;
  }
  header .header-top .menu-list {
    position: absolute;
    top: 80px;
    right: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0.887);
    height: auto;
    width: 30%;
    text-align: center;
    border-radius: 10px;
  }
  header .header-top .menu-list ul {
    flex-direction: column;
  }
  header .header-top .menu-list ul li {
    padding: 10px;
  }
  header .header-top .menu-list a {
    color: white;
  }
}
@media (min-width: 992px) {
  header .header-top .theme .toggle-btn {
    display: none;
    position: relative;
  }
  header .header-top .nav {
    display: flex;
    flex: 2;
  }
}
