@media (min-width: 992px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  /* ---------- navigations ---------------- */
  .top-nav .navigations {
    display: flex;
    padding: 10px;
  }
  .top-nav .navigations .left-logo {
    flex: 2;
  }
  .top-nav .middle-nav {
    display: block;
  }
  .top-nav .nav-button {
    display: none;
  }
  /* -----------------home-footer ------------------ */
  .home-footer .home-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* ===========service section =============== */
  #service .inner-service {
    display: flex;
    flex-direction: row;
  }
  #service-info .ser-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /* ============ work section ================ */
  #work_section .heading {
    padding: 20px;
  }
  #work_section .heading .top-heading p {
    padding: 0px 100px;
  }
  #work_section .heading .head-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* =============== client section ================== */
  .client-back-img {
    height: 550px;
    padding: 50px;
    z-index: -1;
  }
  .client-back-img .client-comm-sec {
    display: flex;
    flex-direction: row;
  }
  .client-comm-sec .client-comm-left .comment .para::after {
    left: 80px;
    top: 300px;
  }
  .client-comm-sec .client-comm-right .comment .para::after {
    top: 300px;
    left: 560px;
  }
}
