@media (max-width: 576px) {
  /* ------ top header ---------- */
  .container {
    margin: 0;
  }
  .top-header {
    width: 100%;
  }
  .top-header .top-content {
    display: flex;
    flex-direction: column;
  }
  .top-header .top-content .left-content {
    display: flex;
  }
  .top-header .top-content .left-content ul li {
    display: inline-block;
    padding: 20px;
  }
  .top-header .top-content .right-content {
    justify-content: flex-start;
  }
  /* ---------- navigations ---------------- */
  .top-nav {
    width: 100%;
  }
  .top-nav .navigations {
    display: flex;
    padding: 10px;
  }
  .top-nav .navigations .left-logo {
    flex: 2;
  }
  .top-nav .middle-nav {
    display: none;
  }
  .top-nav .nav-button {
    display: block;
    height: 40px;
    width: 40px;
    background: transparent;
    font-weight: 800;
    border-radius: 5px;
  }
  .top-nav .nav-btn {
    padding: 10px;
  }
  /* ================= Home Page =================== */
  .homepage .home-bg {
    height: 550px;
    width: 100%;
  }
  .home-bg .form-order {
    display: flex;
  }
  .home-bg .column2-form {
    flex: 2;
    padding: 50px;
  }
  .home-bg .column1-blank {
    display: none;
    flex: 3;
  }
  /* -----------------home-footer ------------------ */
  .home-footer .home-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  /* ===========service section =============== */
  #service .inner-service {
    display: flex;
    flex-direction: column;
  }

  /* =============service info ================== */
  #service-info .ser-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* ============== sender - supplier =============== */
  #supply .supply-info .supp-ser-info {
    display: flex;
    flex-direction: column;
  }
  #supply .supply-info .supp-ser-info .left-ser-info {
    flex: 1;
    border-bottom: 1px solid white;
    border-right: 0;
    padding: 10px 0px;
  }
  #supply .supply-info .supp-ser-info .right-ser-info {
    flex: 1;
    padding: 10px 0px;
  }

  /* ============ work section ================ */
  #work_section .heading {
    padding: 20px;
  }
  #work_section .heading .top-heading p {
    padding: 0;
  }
  #work_section .heading .head-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* =============== client section ================== */
  .client-back-img {
    height: 800px;
    padding: 0px;
    z-index: -1;
  }
  .client-back-img .client-comm-sec {
    display: flex;
    flex-direction: column;
  }
  .client-comm-sec .client-comm-left .comment .para::after {
    left: 80px;
    top: 324px;
  }
  .client-comm-sec .client-comm-right .comment .para::after {
    top: 610px;
    left: 80px;
  }

  /* =================== news blog section ==================== */
  .latest_news .news-blog-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #news_sec .news-heading p {
    padding: 10px 10px;
  }

  /* =============== Footer ================= */
  .footer-sec {
    padding: 20px;
  }
  .footer-sec .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .footer-sec .footer-content button {
    top: 0;
    right: 90px;
  }
  .footer-sec .footer-bottom {
    flex-direction: column;
  }
  .footer-sec .footer-bottom .footer-b-sec p {
    padding-bottom: 20px;
  }
}
