* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  margin-left: 100px;
  margin-right: 100px;
}
/* =================  top header ================= */
.top-header {
  width: 100%;
  background-color: #3f51b5;
}
.top-header .top-content {
  display: flex;
  color: white;
}
.top-header .top-content .left-content {
  display: flex;
  flex: 7;
}
.top-header .top-content .left-content ul li {
  display: inline-block;
  padding: 20px;
}
.top-header .top-content .right-content {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding: 20px;
}
.top-header .top-content .right-content span {
  padding: 5px;
}
.top-header .top-content a {
  color: white;
}
/* =================  top navigation ================= */
.top-nav {
  width: 100%;
  background-color: antiquewhite;
}
.top-nav .navigations {
  display: flex;
  padding: 10px;
}
.top-nav .left-logo {
  flex: 1;
}
.top-nav .navigations .left-logo a {
  color: black;
  font-size: 37px;
  font-weight: 700;
}
.top-nav .navigations .left-logo span {
  color: magenta;
  transform: rotateY(180deg);
}
.top-nav .middle-nav {
  padding: 20px;
  flex: 3;
}
.top-nav .navigations .middle-nav a {
  color: black;
}
.top-nav .navigations .middle-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-nav .navigations .search-btn {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 10px;
}
.top-nav .navigations .search-btn button {
  height: 40px;
  width: 100px;
  background-color: #da6f82;
  color: white;
  border: none;
  border-radius: 10px;
}
.top-nav .nav-button {
  display: none;
  height: 40px;
  width: 40px;
  background: transparent;
  font-weight: 800;
  border-radius: 5px;
}
/* ================= Home Page =================== */
.homepage {
  width: 100%;
}
.homepage .home-bg {
  background-image: url(../images/back.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.home-bg .form-order {
  display: flex;
  width: 100%;
}
.home-bg .column2-form {
  flex: 2;
  padding: 100px;
}
.home-bg .column1-blank {
  flex: 3;
}
.home-bg .column2-form .quote-form {
  background-color: white;
  padding: 30px;
  width: 360px;
}
.home-bg .column2-form input[type="text"] {
  height: 40px;
  width: 290px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}
.home-bg .column2-form .input-text {
  padding-bottom: 10px;
}
.home-bg .column2-form h2 {
  color: #3f51b5;
  padding-bottom: 20px;
}
.home-bg .column2-form .btn-sub {
  height: 35px;
  width: 290px;
  background-color: #3f51b5;
  border: none;
  color: white;
  font-weight: 600;
  font-family: system-ui;
  border-radius: 10px;
  transition: 1s all ease;
}
.home-bg .column2-form .btn-sub:hover {
  background-color: #e91e63;
}
/* -----------------home-footer ------------------ */
.home-footer {
  background-color: #e91e63;
}
.home-footer .home-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  gap: 30px;
  justify-items: center;
  color: white;
  font-size: 20px;
}
.home-footer .home-services span {
  color: whitesmoke;
}
.home-footer .home-services .free span {
  transform: rotateY(180deg);
}
/* ===========service section =============== */
#service .inner-service {
  display: flex;
  padding: 50px 0px;
}
#service .inner-service .left-service {
  /* flex: 1; */
  padding: 20px;
  font-family: sans-serif;
}
#service .inner-service .left-service h1 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}
#service .inner-service .left-service p {
  color: gray;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
#service .inner-service .left-service h3 {
  font-size: 27px;
  font-weight: 500;
  padding-bottom: 7px;
}
#service .inner-service .left-service li {
  padding: 5px 0px;
}
#service .inner-service .left-service span {
  color: #e91e63;
  font-weight: 700;
}
#service .inner-service .right-service img {
  height: 450px;
  width: 500px;
}
/* =============service info ================== */
#service-info {
  background-color: aliceblue;
}
#service-info .ser-info {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#service-info .ser-info .cust-ser {
  padding: 20px 0px;
}
#service-info .ser-info .cust-ser span {
  font-size: 40px;
  color: #e91e63;
}
#service-info .ser-info .cust-ser h3 {
  color: #3f51b5;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 1px;
}
#service-info .ser-info .cust-ser p {
  color: gray;
  font-size: 18px;
  letter-spacing: 1px;
}
/* =========== supply section ================ */
#supply {
}
#supply .supply-info {
  background-image: url(../images/supply.jpg);
  background-size: cover;
  color: white;
  background-position: center;
  padding: 50px;
  /* height: 550px; */
}
#supply .supply-info .supp-ser-info {
  background: rgba(17, 17, 17, 0.58);
  padding: 50px;
  border-radius: 5px;
  display: flex;
}
#supply .supply-info .supp-ser-info .left-ser-info {
  flex: 1;
  border-right: 1px solid white;
  padding: 0px 50px;
}
.supply-info .supp-ser-info h6 {
  font-size: 15px;
  padding-bottom: 5px;
}
.supply-info .supp-ser-info h1 {
  font-size: 30px;
  padding-bottom: 5px;
}
.supply-info .supp-ser-info li {
  padding: 5px 0px;
}
.supply-info .supp-ser-info span {
  color: #e91e63;
}
#supply .supply-info .supp-ser-info .right-ser-info {
  flex: 1;
  padding: 0px 50px;
}
